@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}
.result-block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.5s 1.4s forwards;

  a {
    display: inline-block;
    text-decoration: none;
    margin: 20px;
  }
}
.result {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  &__image {
    display: flex;
    &_icon {
      display: inline-block;
      font-size: 80px;
      color: #ffffff;
      padding: 10px;
    }
    &_temp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        display: inline-block;
      }
    }
  }
  &__current {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%;
    width: 50vw;
  }
}

.temperature {
  display: inline-block;
  font-size: 50px;
  font-weight: 400;
  color: #ffffff;
}
.weather-detail {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  background: rgba(63, 81, 181, 0.3);
  border-radius: 10px;
  align-self: flex-start;
}
.weather-detail-item {
  flex-basis: calc(100% / 3);
  padding: 10px;
  padding: 20px 10px;
}
.result-large-text {
  color: #ffffff;
  display: block;
  padding: 5px 0;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 40px;
}

.result-text {
  color: #ffffff;
  display: block;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
}

.result-small-text {
  color: #ffffff;
  display: block;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  padding: 5px 0;
  text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
  .result {
    flex-wrap: wrap;
    padding: 10px;
    padding-right: 20px;
  }
  .result-block {
    padding-top: 0;
  }
}
