* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  // width: 100vw;
  background-color: lightseagreen;
  background-image: url("/src/img/page.jpg");
  background-size: cover;
  background-position: center;
}

.weather {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  position: relative;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  .weather {
    margin-top: 20px;
  }
}
